@media screen and (min-width: 0) and (max-width: 576px) {
    .blo {
        display: flex;
        flex-direction: column;

    }

    .B, .C {
        width: 100%;

    }
    .B{
        margin-bottom: 2%;
    }
}
