h1{
    color: cornsilk;
    background: darkslategray;
}
h2 {
    background:darkseagreen;
    color: beige;
}
p{
    color: dark; background:darkkhaki;
}
ul{
    background: khaki; color: darkslategray;
}
a{
    color: darkslategray;
}