h1{
    color: cornsilk;
    background: darkslategray;
}
h2 {
    background-color:darkseagreen;
    color: beige;
}
p{
    color:red;
    background-color: black;
}
ul{
    background-color: khaki;
    color: darkslategray;
}
a{
    color: darkslategray;
}